{% extends "layout.html" %}
{% block content %}

<div class="signup">
    <h1>User Login</h1>
    <hr>

    <form action="/user-login/" method="POST">
        <div class="container">

            <label><b>Email</b></label>
            <input type="email" name="email" placeholder="Enter Email" required>

            <label><b>Password</b></label>
            <input type="password" name="password" placeholder="Enter Password" required minlength="6">

            <button type="submit" class="registerbtn">Login</button>

        </div>
    </form>

</div>

{% endblock %}